<!-- <p>main</p>
<router-outlet></router-outlet> -->
<!-- <app-about></app-about> -->
<!-- <app-obs1></app-obs1> -->
<!-- <app-teplate-form></app-teplate-form> -->
<!-- <app-repeat></app-repeat> -->
<!-- <app-youtube></app-youtube> -->
<!-- <app-gmap></app-gmap> -->
<!-- <app-cart></app-cart> -->
<!-- <app-dynamicform></app-dynamicform> -->
<!-- <app-testpipe></app-testpipe> -->
<!-- <app-dynamicformtwo></app-dynamicformtwo> -->
 <!-- <div>
    <a routerLink="/">home</a> |
    <a routerLink="/about">about</a> |
    <a routerLink="/repeat">repeat</a>
</div>
<br>
<br><br><br><br><br><br><br><br>
<hr>
<router-outlet></router-outlet>  -->
<!-- <app-doctor></app-doctor> -->
<div class="input-cls">
    <input type="text" appInputFormat [formate]="'uppercase'">
</div>